body{
    background-color: black;
}

h1{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
}

#update{
    color: white;
    text-align: center;
}

.canali{
    display: inline;
}

.linkCanali{
    display: inline;
    gap: 5px;
}

#youtube{
    width: 45px;
}

#twitch{
    width: 70px;
}

#tiktok{
    width: 33px;
    margin-bottom: 5px;
    margin-right: 5px;
}

#insta{
    width: 33px;
    margin-bottom: 5px;
    margin-left: 10px;
}

#tutti{
    text-align: center;
    margin: auto;    
}

#characterButtons{
    text-align: center;
    margin-bottom: 10px;
}

.characterButton,
#showAllButton {
    margin: 5px;
    padding: 4px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid transparent;
    color: white;
    cursor: pointer;
    outline: none;
}

.characterButton.active,
#showAllButton.active {
    border: 2px solid darkred;
}

.characterButton:hover,
#showAllButton:hover {
    border: 2px solid darkred;
}

.characterButton:not(.active):focus,
.characterButton:not(.active):hover,
#showAllButton:not(.active):focus,
#showAllButton:not(.active):hover {
    outline: none;
}

.hidden{
    display: none;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#personaggi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divKiller{
    width: calc(100% / 6);
    text-align: center;
    margin: 10px;
    border: 5px solid darkred;
    border-radius: 10px;
}

.killer{
    width: 125px;
    margin-bottom: 10px; 
}

.perk{
    width: 75px;
}

.perk:hover{
	box-shadow: 0px 1px 0px white;  
}

.altBuilds{
    margin: 5px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.altBuilds.active{
    border: 2px solid darkred;
}

.altBuilds:not(.active):focus,
.altBuilds:not(.active):hover{
    outline: none;
}

.linkKiller{
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.linkKiller:hover{
    text-decoration: underline;
}

.credits{
    margin-top: 600px;
}

.crediti{
    text-align: center;
    color: white;
    font-size: 12px;
}

@media only screen and (max-width: 2000px) {
    .divKiller .characterButtons{
        width: 100%;       
    }

    .killer{
        width: 120px;
    }

    .perk{
        width: 75px;
    }

    .centered{
        position: sticky;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 150px;
    }
}

@media only screen and (max-width: 956px) {
    .divKiller .characterButtons{
        width: calc(100% / 4);        
    }

    .killer{
        width: 120px;
    }

    .perk{
        width: 70px;
    }

    .centered{
        position: sticky;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 180px;
    }
}

@media only screen and (max-width: 887px) {
    .divKiller .characterButtons{
        width: calc(100% / 4);        
    }

    .killer{
        width: 110px;
    }

    .perk{
        width: 60px;
    }

    .centered{
        position: sticky;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 180px;
    }
}

@media only screen and (max-width: 776px){
    .divKiller .characterButtons{
        width: calc(100% / 4);        
    }

    .killer{
        width: 110px;
    }

    .perk{
        width: 60px;
    }

    .centered{
        position: sticky;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 210px;
    }
}

@media only screen and (max-width: 480px) {
    .divKiller .characterButtons{
        width: 100%;
        margin-top: 200px;
    }

    .killer{
        width: 80px;
    }

    .perk{
        width: 40px;
    }

    .centered{
        position: sticky;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 300px;
    }

    .linkKiller{
        font-size: 10px;
    }

    .characterButton{
        font-size: 12px;
    }

    .altBuilds{
        font-size: 12px;
    }
}
