body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

#update{
    color: white;
    text-align: center;
}

.canali{
    display: inline;
}

.linkCanali{
    display: inline;
    gap: 5px;
}

#youtube{
    width: 45px;
}

#twitch{
    width: 70px;
}

#tiktok{
    width: 33px;
    margin-bottom: 5px;
    margin-right: 5px;
}

#insta{
    width: 33px;
    margin-bottom: 5px;
    margin-left: 10px;
}

#tutti{
    text-align: center;
    margin: auto;    
}

#characterButtons {
    text-align: center;
    margin-bottom: 10px;
}

.characterButton {
    margin: 5px;
    border-radius: 10px;   
}

.hidden{
    display: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#personaggi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divKiller {
    width: calc(100% / 6); /* Assicura che ci siano massimo 6 personaggi per riga */
    text-align: center;
    margin: 10px; /* Aggiungi spazio tra i personaggi */
    border: 5px solid darkred;
    border-radius: 10px;
}

.killer {
    width: 125px;
    margin-bottom: 10px; 
}

.perk {
    width: 75px;
}

.perk:hover {
	box-shadow: 0px 1px 0px white;  
}

.altBuild{
    border-top: 5px;
}
.linkKiller {
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.linkKiller:hover {
    text-decoration: underline;
}

.credits{
    margin-top: 600px;
}

.crediti{
    text-align: center;
    color: white;
    font-size: 12px;
}


