body{
    background-color: black;
}

h1{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
}

#update{
    color: white;
    text-align: center;
}

.canali{
    display: inline;
}

.linkCanali{
    display: inline;
    gap: 5px;
}

#youtube{
    width: 45px;
}

#twitch{
    width: 70px;
}

#tiktok{
    width: 33px;
    margin-bottom: 5px;
    margin-right: 5px;
}

#insta{
    width: 33px;
    margin-bottom: 5px;
    margin-left: 10px;
}

#tutti{
    text-align: center;
    margin: auto;    
}

#characterButtons{
    text-align: center;
    margin-bottom: 10px;
}

.characterButton,
.altBuilds {
    margin: 5px;
    padding: 4px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid transparent;
    color: white;
    cursor: pointer;
    outline: none;
}

#showAllButton,
#showAllButtonSurv {
    margin: 5px;
    padding: 4px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid transparent;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 17px;
}

.characterButton.active,
.altBuilds.active,
#showAllButton.active,
#showAllButtonSurv.active {
    border: 2px solid darkred;
}

.characterButton:hover,
.altBuilds:hover,
#showAllButton:hover,
#showAllButtonSurv:hover {
    border: 2px solid darkred;
}

.characterButton:not(.active):focus,
.characterButton:not(.active):hover,
.altBuilds:not(.active):focus,
.altBuilds:not(.active):hover,
#showAllButton:not(.active):focus,
#showAllButton:not(.active):hover,
#showAllButtonSurv:not(.active):focus,
#showAllButtonSurv:not(.active):hover {
    outline: none;
}

.hidden{
    display: none;
}

.centeredKiller{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#personaggi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divKiller{
    width: calc(100% / 6);
    text-align: center;
    margin: 10px;
    border: 5px solid darkred;
    border-radius: 10px;
}

.container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-gap: 65px;
    justify-content: center;
}

.divSurvivor{
    text-align: center;
    border: 5px solid darkred;
    border-radius: 10px;
}

.perkSurv{
    margin-top: 20px;
}

.killer{
    width: 125px;
    margin-bottom: 10px; 
}

.perk{
    width: 75px;
}

.perk:hover{
	background-color: rgba(255, 255, 255, 0.1);
}

.linkKiller{
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.linkKiller:hover{
    text-decoration: underline;
}

.credits{
    margin-top: 600px;
}

.crediti{
    text-align: center;
    color: white;
    font-size: 12px;
}

::-webkit-scrollbar{
    background-color: rgba(255, 255, 255, 0.1);
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(92, 91, 91);
}

@media only screen and (max-width: 2000px) {
    .divKiller .characterButtons{
        width: 100%;       
    }

    .divSurvivor .characterButtons{
        width: 100%;       
    }

    .killer{
        width: 120px;
    }

    .perk{
        width: 75px;
    }

    .centered{
        position: sticky;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 150px;
    }
}

@media only screen and (max-width: 956px) {
    .divKiller .characterButtons{
        width: calc(100% / 4);        
    }

    .divSurvivor .characterButtons{
        width: calc(100%/4);       
    }

    .killer{
        width: 120px;
    }

    .perk{
        width: 70px;
    }

    .centered{
        position: sticky;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 180px;
    }
}

@media only screen and (max-width: 896px) {
    .divKiller .characterButtons{
        width: calc(100% / 4);        
    }

    .divSurvivor .characterButtons{
        width: calc(100%/4);       
    }

    .killer{
        width: 110px;
    }

    .perk{
        width: 60px;
    }

    .centered{
        position: sticky;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 180px;
    }
}

@media only screen and (max-width: 776px){
    .divKiller .characterButtons{
        width: calc(100% / 4);        
    }

    .divSurvivor .characterButtons{
        width: calc(100%/4);       
    }

    .killer{
        width: 110px;
    }

    .perk{
        width: 60px;
    }

    .centered{
        position: sticky;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 210px;
    }
}

@media only screen and (max-width: 480px) {
    .divKiller .characterButtons{
        width: 100%;
        margin-top: 200px;
    }

    .divSurvivor .characterButtons{
        width: 100%;  
        margin-top: 200px;     
    }

    .killer{
        width: 70px;
    }

    .perk{
        width: 40px;
    }

    .centered{
        position: sticky;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 300px;
    }

    .linkKiller{
        font-size: 8px;
    }

    .characterButton{
        font-size: 12px;
    }

    .altBuilds{
        font-size: 12px;
    }
}
